.env*
*.log
.*.json
.idea

dist

ecomarkets-secrets

# Openshift 
oc
ccoctl
kubectl
openshift-install
metadata.json
kubeadmin-password
kubeconfig
journal-*

# Terraform
terraform.*.json

.envrc*

.terraform*
terraform.*
*.tfstate
*.tfstate.backup
*.tfvars*
