server:
  http_listen_port: 3200

distributor:
  receivers:
  #  jaeger:
  #    protocols:
  #      grpc:
  #      thrift_compact:
  #      thrift_binary:
  #      thrift_http:
    #zpkin:
    otlp:
      protocols:
        http:
        grpc:
    #opencensus:    
ingester:
  trace_idle_period: 10s
  max_block_bytes: 1_000_000
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 48h
    compacted_block_retention: 1h

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal 
    local:
      path: /var/tempo/blocks
    block:
      bloom_filter_false_positive: 0.05
      v2_index_downsample_bytes: 1000
      v2_encoding: zstd

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: docker-compose
  storage:
    path: /tmp/tempo/generator/wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true


overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics] # enables metrics generator
        
#overrides:
#  per_tenant_override_config: /conf/overrides.yaml