
{#include layout/main}
{#body}

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2>Quem somos</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="index">Home</a></li>
                    <li>/</li>
                    <li><span>Quem somos</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="about-one">
            <img src="assets/images/shapes/about-leaf-1-1.png" alt="" class="about-one__shape-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <img src="assets/images/mpa_flag.jpg" class="img-fluid" alt="">
                    </div><!-- /.col-md-12 -->
                    <div class="col-md-12 col-lg-6">
                        <div class="about-one__content">
                            <div class="block-title text-left">
                                <div class="block-title__decor"></div><!-- /.block-title__decor -->
                                <p>Das famílias camponesas para sua mesa</p>
                                <h3>Alimentos Orgânicos e da Transição Agroecológica</h3>
                            </div><!-- /.block-title -->
                            <p>Somos um movimento organizado do campesinato, constituído por crianças, jovens, mulheres, homens, famílias e comunidades que desejam seguir
                                sua trajetória de produção agrícola e reprodução da vida. Somos o MPA (Movimento dos Pequenos Agricultores), cofundadores e coadministradores
                                da Rede Bem Viver para a Transição Agroecológica e o Abastecimento Popular.</p>
                            <p>Estamos em vários cantos do Brasil, cuidando da roça, das pessoas, das comunidades urbanas e da natureza, produzindo com responsabilidade a alimento de verdade,
                                livre de veneno e de toda forma de opressão, animados e com a certeza de que a agroecologia é a melhor base produtiva para alimentar o povo e cultivar a terra.</p>
                            <p>Conectamos o campo e a cidade, através do alimento, da solidariedade entre as classes, das consciências, da alegria e da vontade de fazer diferente,
                            reforçando o valor do agricultor e da agricultora, frequentemente invisibilizados(as) pelo sistema. Vamos, assim, construindo novas maneiras de prover o pão,
                            o fruto, os “alimentos saudáveis em todas as mesas” capixabas.</p>
                            <p>Aliando-se ao MPA e à Rede Bem Viver-ES, você não apenas apoia a economia local, o campesinato e a agroecologia,
                                como também tem a oportunidade de integrar uma rede de apoio mútuo e de consumir produtos que contem história, sabor, qualidade, carinho e amor.</p>

                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="about-one__box">
                                        <h3><i class="fa fa-check-circle"></i> Magnis Dis Nascet</h3>
                                        <p>Lorem ipsum is free do sit</p>
                                    </div><!-- /.about-one__box -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6 col-lg-6">
                                    <div class="about-one__box">
                                        <h3><i class="fa fa-check-circle"></i> Libero id Ege</h3>
                                        <p>Lorem ipsum is free do sit</p>
                                    </div><!-- /.about-one__box -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.about-one__content -->
                    </div><!-- /.col-md-12 col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-one -->

        <div class="client-carousel ">
            <div class="container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 140, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="assets/images/resources/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                    </div><!-- /.swiper-wrapper -->
                </div><!-- /.thm-swiper__slider -->
            </div><!-- /.container -->
        </div><!-- /.client-carousel -->

        <section class="video-one jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%">
            <img src="assets/images/backgrounds/video-bg-1-1.jpg" alt="" class="jarallax-img">
            <div class="container text-center">
                <a href="https://www.youtube.com/watch?v=u5l4cdUjau4" class="video-popup">
                    <i class="fa fa-play"></i>
                </a><!-- /.video-popup -->
                <h3><span>Get</span> Always Fresh <br>
                    Organic Food</h3>
            </div><!-- /.container -->
        </section><!-- /.video-one -->

        <section class="team-one">
            <img src="assets/images/shapes/team-shape-1.png" alt="" class="team-one__shape-1">
            <img src="assets/images/shapes/team-shape-2.png" alt="" class="team-one__shape-2">
            <div class="container">
                <div class="block-title text-center">
                    <div class="block-title__decor"></div><!-- /.block-title__decor -->
                    <p>Professional People</p>
                    <h3>Meet the Team</h3>
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="team-card">
                            <div class="team-card__image">
                                <img src="assets/images/team/team-1-1.png" alt="">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3>Ray Luna</h3>
                                <div class="team-card__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div><!-- /.team-card__social -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="team-card">
                            <div class="team-card__image">
                                <img src="assets/images/team/team-1-2.png" alt="">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3>Ora McLaughlin</h3>
                                <div class="team-card__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div><!-- /.team-card__social -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="team-card">
                            <div class="team-card__image">
                                <img src="assets/images/team/team-1-3.png" alt="">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3>Peter Ramsey</h3>
                                <div class="team-card__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div><!-- /.team-card__social -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="team-card">
                            <div class="team-card__image">
                                <img src="assets/images/team/team-1-4.png" alt="">
                            </div><!-- /.team-card__image -->
                            <div class="team-card__content">
                                <h3>Eric Miller</h3>
                                <div class="team-card__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div><!-- /.team-card__social -->
                            </div><!-- /.team-card__content -->
                        </div><!-- /.team-card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.team-one -->

        <section class="testimonials-one">
            <div class="testimonials-one__head">
                <div class="container">
                    <div class="block-title text-center">
                        <div class="block-title__decor"></div><!-- /.block-title__decor -->
                        <p>Our Testimonials</p>
                        <h3>What People Say?</h3>
                    </div><!-- /.block-title -->
                </div><!-- /.container -->
            </div><!-- /.testimonials-one__head -->
            <div class="container">
                <div class="thm-tiny__slider" id="testimonials-one-box" data-tiny-options='{
            "container": "#testimonials-one-box",
            "items": 1,
            "slideBy": "page",
            "gutter": 0,
            "mouseDrag": true,
            "autoplay": true,
            "nav": false,
            "controlsPosition": "bottom",
            "controlsText": ["<i class=\"fa fa-angle-left\"></i>", "<i class=\"fa fa-angle-right\"></i>"],
            "autoplayButtonOutput": false,
            "responsive": {
                "640": {
                  "items": 2,
                  "gutter": 30
                },
                "992": {
                  "gutter": 30,
                  "items": 3
                },
                "1200": {
                  "disable": true
                }
              }
        }'>
                    <div>
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="assets/images/resources/testi-1-1.png" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <p>I was very impresed by the osfins service lorem ipsum is simply free text used by copy typing
                                    refreshing. Neque porro est qui dolorem ipsum.</p>
                                <h3>Winnie Collier</h3>
                                <span>Customer</span>
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div>
                    <div>
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="assets/images/resources/testi-1-2.png" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <p>I was very impresed by the osfins service lorem ipsum is simply free text used by copy typing
                                    refreshing. Neque porro est qui dolorem ipsum.</p>
                                <h3>Helen Woods</h3>
                                <span>Customer</span>
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div>
                    <div>
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="assets/images/resources/testi-1-3.png" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <p>I was very impresed by the osfins service lorem ipsum is simply free text used by copy typing
                                    refreshing. Neque porro est qui dolorem ipsum.</p>
                                <h3>Ethan Thomas</h3>
                                <span>Customer</span>
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div>
                </div>
            </div><!-- /.container -->
        </section><!-- /.testimonials-one -->


{/body}
{/include}