<a id="spy-get-in-touch" class="ancor"></a>
<footer id="footer" class="footer--style-2 footer--dark">
	<div class="footer__inner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="footer__item">
						<a class="site-logo" href="index.html">AGRICOM</a>

						<div class="footer__text">
							<p>
								<strong>Evulates vast a real proven works discount secure care. Market invigorate a awesome.</strong>
							</p>

							<p>
								Odor to yummy high racy bonus soaking mouthwatering. Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer 
							</p>
						</div>

						<p class="footer__copy">© 2019, Agricom. All rights reserved.<br /><br />Template by <a href="https://themeforest.net/user/artureanec" target="_blank">Artureanec</a></p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">Contacts</h3>

						<p>
							Mega bold action. Sold care wherever less appetizing your far easily
						</p>

						<div class="company-contacts">
							<address>
								<p>
									<i class="fontello-location"></i>
									523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA
								</p>

								<p>
									<i class="fontello-phone-call"></i>
									+1 (234) 56789,  +1 987 654 3210
								</p>

								<p>
									<i class="fontello-mail"></i>
									<a href="mailto:support@watchland.com">support@watchland.com</a>
								</p>
							</address>

							<div class="social-btns">
								<div class="social-btns__inner">
									<a class="fontello-twitter" href="#" target="_blank"></a>
									<a class="fontello-facebook" href="#" target="_blank"></a>
									<a class="fontello-linkedin-squared" href="#" target="_blank"></a>
									<a class="fontello-youtube" href="#" target="_blank"></a>
									<a class="fontello-gplus" href="#" target="_blank"></a>
									<a class="fontello-vimeo" href="#" target="_blank"></a>
									<a class="fontello-vkontakte" href="#" target="_blank"></a>
									<a class="fontello-instagram" href="#" target="_blank"></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">Get in touch</h3>

						<form class="footer__form f1 js-contact-form" action="#">
							<label class="input-wrp">
								<i class="fontello-user"></i>
								<input class="textfield" type="text" placeholder="You name" name="name" />
							</label>

							<label class="input-wrp">
								<i class="fontello-mail"></i>
								<input class="textfield" type="text" placeholder="E-mail" name="email" />
							</label>

							<label class="input-wrp">
								<i class="fontello-comment"></i>
								<textarea class="textfield" placeholder="Comment" name="message"></textarea>
							</label>

							<div class="btn-wrp">
								<button class="custom-btn primary long" type="submit" role="button">Send a message</button>
							</div>

							<div class="form__note"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>