<div class="team">
	<div class="team__inner">
		<div class="row">
			<!-- start item -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="team__item center-block">
					<figure class="team__photo">
						<img src="img/team_img/1.jpg" alt="demo" />
					</figure>

					<div class="team__description">
						<h3 class="team__name">Selena Miller</h3>

						<h5 class="team__position">Project Manager</h5>

						<div class="social-btns">
							<a class="fontello-twitter" href="#" target="_blank"></a>
							<a class="fontello-facebook" href="#" target="_blank"></a>
							<a class="fontello-linkedin-squared" href="#" target="_blank"></a>
							<a class="fontello-skype" href="#" target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="team__item center-block">
					<figure class="team__photo">
						<img src="img/team_img/2.jpg" alt="demo" />
					</figure>

					<div class="team__description">
						<h3 class="team__name">Allan Max</h3>

						<h5 class="team__position">Web DEsigner</h5>

						<div class="social-btns">
							<a class="fontello-twitter" href="#" target="_blank"></a>
							<a class="fontello-facebook" href="#" target="_blank"></a>
							<a class="fontello-vkontakte" href="#" target="_blank"></a>
							<a class="fontello-skype" href="#" target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="team__item center-block">
					<figure class="team__photo">
						<img src="img/team_img/3.jpg" alt="demo" />
					</figure>

					<div class="team__description">
						<h3 class="team__name">Andrew Black</h3>

						<h5 class="team__position">CEO</h5>

						<div class="social-btns">
							<a class="fontello-facebook" href="#" target="_blank"></a>
							<a class="fontello-gplus" href="#" target="_blank"></a>
							<a class="fontello-vkontakte" href="#" target="_blank"></a>
							<a class="fontello-skype" href="#" target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>