<div id="top-bar" class="top-bar--style-3">
	<div class="container">
		<a id="top-bar__logo" class="site-logo" href="index.html">AGRICOM</a>

		<a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

		<nav id="top-bar__navigation" role="navigation">
			<ul class="nav">
				<li><a href="#spy-services">Services</a></li>
				<li><a href="#spy-about">about</a></li>
				<li><a href="#spy-progress">progress</a></li>
				<li><a href="#spy-offer">offer</a></li>
				<li><a href="#spy-gallery">gallery</a></li>
				<li><a href="#spy-blog">blog</a></li>
				<li class="li-btn"><a class="custom-btn primary" href="#spy-get-in-touch">Get in touch</a></li>
			</ul>
		</nav>
	</div>
</div>