<a id="spy-get-in-touch" class="ancor"></a>
<section class="section-contact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="item map-container">
					<div class="g_map" data-longitude="44.958309" data-latitude="34.109925" data-marker="../img/marker.png"></div>
				</div>
			</div>

			<div class="col-12 col-md-6 bg-2">
				<div class="item">
					<header class="item__header">
						<h2 class="item__title">Get In Touch</h2>

						<p class="item__subtitle">Vinyl grown remarkable in survey wherever parents are it's. Mega bold action. Sold care</p>
					</header>

					<form class="f1 js-contact-form" action="#">
						<label class="input-wrp">
							<i class="fontello-user"></i>
							<input class="textfield" type="text" placeholder="You name" name="name" />
						</label>

						<label class="input-wrp">
							<i class="fontello-mail"></i>
							<input class="textfield" type="text" placeholder="E-mail" name="email" />
						</label>

						<label class="input-wrp">
							<i class="fontello-comment"></i>
							<textarea class="textfield" placeholder="Comment" name="message"></textarea>
						</label>

						<div class="btn-wrp">
							<button class="custom-btn long" type="submit" role="button">Send a message</button>
						</div>

						<div class="form__note"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>