<div class="row justify-content-md-center">
	<div class="col-lg-10">
		<div class="feedbacks feedbacks--slider feedbacks--style-1">
			<div class="owl-carousel owl-theme">
				<!-- start item -->
				<article class="feedback__item">
					<div class="feedback__author">
						<div class="feedback__author__photo  mx-auto">
							<img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
						</div>

						<h4 class="feedback__author__name">Alex Roberts</h4>

						<p class="feedback__author__position">Farmer, AgroHolding</p>
					</div>

					<div class="feedback__text">
						<p>
							“Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality. 
						</p>
					</div>
				</article>
				<!-- end item -->

				<!-- start item -->
				<article class="feedback__item">
					<div class="feedback__author">
						<div class="feedback__author__photo  mx-auto">
							<img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
						</div>

						<h4 class="feedback__author__name">Alex Roberts</h4>

						<p class="feedback__author__position">Farmer, AgroHolding</p>
					</div>

					<div class="feedback__text">
						<p>
							“Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality. Value far mouthwatering wherever try offer ultra aroma
						</p>
					</div>
				</article>
				<!-- end item -->

				<!-- start item -->
				<article class="feedback__item">
					<div class="feedback__author">
						<div class="feedback__author__photo  mx-auto">
							<img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
						</div>

						<h4 class="feedback__author__name">Alex Roberts</h4>

						<p class="feedback__author__position">Farmer, AgroHolding</p>
					</div>

					<div class="feedback__text">
						<p>
							“Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality. Value far mouthwatering wherever try offer ultra aroma Introducing handcrafted credit-card like supreme monster
						</p>
					</div>
				</article>
				<!-- end item -->
			</div>
		</div>
	</div>
</div>