<footer id="footer" class="footer--style-3">
	<div class="footer__inner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="footer__item">
						<a class="site-logo" href="index.html">AGRICOM</a>

						<div class="footer__text">
							<p>
								<strong>Evulates vast a real proven works discount secure care. Market invigorate a awesome.</strong>
							</p>

							<p>
								Odor to yummy high racy bonus soaking mouthwatering. Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer 
							</p>
						</div>

						<p class="footer__copy">© 2019, Agricom. All rights reserved. Template by <a href="https://themeforest.net/user/artureanec" target="_blank">Artureanec</a></p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">QUiCK menu</h3>

						<div class="row">
							<div class="col">
								<ul class="footer__menu">
									<li><a href="#">Home page</a></li>
									<li><a href="#">About Company</a></li>
									<li><a href="#">Our Team</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog Posts</a></li>
									<li><a href="#">Contacts</a></li>
								</ul>
							</div>

							<div class="col">
								<ul class="footer__menu">
									<li><a href="#">Documentsion</a></li>
									<li><a href="#">Terms of Use</a></li>
									<li><a href="#">Conference</a></li>
									<li><a href="#">Legal Agreement</a></li>
									<li><a href="#">Company Profile</a></li>
									<li><a href="#">Solutions</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">Contacts</h3>

						<div class="company-contacts">
							<address>
								<p>
									<i class="fontello-location"></i>
									523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA
								</p>

								<p>
									<i class="fontello-phone-call"></i>
									+1 (234) 56789,  +1 987 654 3210
								</p>

								<p>
									<i class="fontello-mail"></i>
									<a href="mailto:support@watchland.com">support@watchland.com</a>
								</p>
							</address>

							<div class="social-btns">
								<div class="social-btns__inner">
									<a class="fontello-twitter" href="#" target="_blank"></a>
									<a class="fontello-facebook" href="#" target="_blank"></a>
									<a class="fontello-linkedin-squared" href="#" target="_blank"></a>
									<a class="fontello-youtube" href="#" target="_blank"></a>
									<a class="fontello-gplus" href="#" target="_blank"></a>
									<a class="fontello-vimeo" href="#" target="_blank"></a>
									<a class="fontello-vkontakte" href="#" target="_blank"></a>
									<a class="fontello-instagram" href="#" target="_blank"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>