<div class="partners">
	<div class="partners__inner">
		<div class="row">
			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-2">
				<img class="img-fluid" src="../img/partners_img/1.jpg" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-2">
				<img class="img-fluid" src="../img/partners_img/2.jpg" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-2">
				<img class="img-fluid" src="../img/partners_img/3.jpg" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-2">
				<img class="img-fluid" src="../img/partners_img/4.jpg" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-2">
				<img class="img-fluid" src="../img/partners_img/5.jpg" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-2">
				<img class="img-fluid" src="../img/partners_img/6.jpg" alt="demo" />
			</div>
			<!-- end item -->
		</div>
	</div>
</div>