<header class="main-header">
    <div class="topbar">
        <div class="container">
            <div class="main-logo">
                <a href="index" class="logo">
                    <img src="assets/images/logo.png" width="225" alt="">
                </a>
                <div class="mobile-nav__buttons">
                    <a href="#" class="search-toggler"><i class="organik-icon-magnifying-glass"></i></a>
                    <a href="#" class="mini-cart__toggler"><i class="organik-icon-shopping-cart"></i></a>
                </div><!-- /.mobile__buttons -->

                <span class="fa fa-bars mobile-nav__toggler"></span>
            </div><!-- /.main-logo -->

            <div class="topbar__left">
                <div class="topbar__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.topbar__social -->
                <div class="topbar__info">
                    <i class="organik-icon-email"></i>
                    <p>Email <a href="mailto:info@ecofeiras.com">info@ecofeiras.com</a></p>
                </div><!-- /.topbar__info -->
            </div><!-- /.topbar__left -->
            <div class="topbar__right">
                <div class="topbar__info">
                    <i class="organik-icon-calling"></i>
                    <p>Phone <a href="tel:+55 27 99987-3360">(27) 99987-3360</a></p>
                </div><!-- /.topbar__info -->
                <div class="topbar__buttons">
                    <a href="#" class="search-toggler"><i class="organik-icon-magnifying-glass"></i></a>
                    <a href="#" class="mini-cart__toggler"><i class="organik-icon-shopping-cart"></i></a>
                </div><!-- /.topbar__buttons -->
            </div><!-- /.topbar__left -->

        </div><!-- /.container -->
    </div><!-- /.topbar -->
    <nav class="main-menu">
        <div class="container">
            <div class="main-menu__login">
                <a href="#"><i class="organik-icon-user"></i>Login / Register</a>
            </div><!-- /.main-menu__login -->
            <ul class="main-menu__list">
                <li class="dropdown">
                    <a href="index">Home</a>
                <!--    <ul>
                        <li>
                            <a href="index">Home One</a>
                        </li>
                        <li><a href="index-2">Home Two</a></li>
                        <li class="dropdown">
                            <a href="#">Header Styles</a>
                            <ul>
                                <li><a href="index">Header One</a></li>
                                <li><a href="index-2">Header Two</a></li>
                            </ul>
                        </li>
                    </ul> -->
                </li>
                <li>
                    <a href="about">Quem Somos</a>
                </li>
                <li class="dropdown">
                    <a href="products">Montar Cesta</a>
                    <!--     <ul>
                            <li><a href="products">Montar Cesta</a></li>
                            <li><a href="product-details.html">Product Details</a></li>
                            <li><a href="cart.html">Cart Page</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul> -->
                </li>
                <li><a href="contact">Contato</a></li>
            </ul>
            </div><!-- /.container -->
    </nav>
    <!-- /.main-menu -->
</header><!-- /.main-header -->